$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

@import "../node_modules/bootstrap/scss/functions";

$body-bg: $almost-white;

$custom-colors: (
  "almost-white": $almost-white,
  "medium-gray": $medium-gray,
  "almost-black": $almost-black
);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: "Epilogue";
    src: url("Epilogue.ttf");
    };

@font-face {
    font-family: "Epilogue-Italic";
    src: url("Epilogue-Italic.ttf");
    };

:root {
    font-size: 18px;
}

body {
    height: 100dvh;
    width: 100vw;
    max-width: 100%;

    main {
        div {
            h1 {
                font-size: 1.9rem;
            }

            p {
                font-size: 0.90rem;
            }

            button.bg-almost-black {
                font-size: 0.9rem;
                margin-bottom: 1.75rem;
                border-radius: 15px;
            }

            div.justify-content-evenly {
                img {
                    height: auto;
                    width: clamp(60px, 19%, 114px);
                    object-fit: contain;
                }
            }
        }
    } 
}

button {
    cursor: pointer;
}